body
  cursor: url(https://resource.limeili.co/cursor.ico),auto

.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.20em;
  fill: currentColor;
  overflow: hidden;
}
.page
    .page-title
        max-width: 860px !important 
    
.content__default code 
    color: #F44336 !important

.content__default pre[class*="language-"] code 
    color: white !important
a.header-anchor
    opacity: 1 !important
.navbar .logo
    height: 2.5rem
    min-width: 2.5rem
    border-radius: 50%;
    transition: all .5s;
    box-shadow: 0 0 6px 0.5px #9e9e9e;
    &:hover
      transform: rotate(360deg)

.home-blog .hero h1
    font-family 'Gloria Hallelujah'
    font-weight 300
 
.home-blog .hero .description
    font-family 'Gloria Hallelujah'
    font-weight 400
    font-size 1rem !important
.valine-wrapper #valine.v .info
    display none
.page .iconfont-category
    color #888 !important
.sidebar .sidebar-sub-header
    padding-left 1.5rem !important
.abstract p img
    height 450px
    width 100%
@media (max-width: $MQMobile)
    .home-blog .hero 
        display none
        .des
            display: none
    .abstract p img
        height 250px
        width 100%
@media (max-width: $MQMobileNarrow)
  .content__default
    div[class*="language-"]
      margin 0.85rem -.5rem !important