.valine-wrapper #valine.v .vwrap,
.valine-wrapper #valine.v .vlist .vh .vhead .vsys, 
.valine-wrapper #valine.v .vlist .vh .vcontent
    background: white !important
.v .veditor
    background: url(../public/comment_bg.png) 100% 100% no-repeat !important
